<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="primerMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">
      Lista de Notas
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list>

    <ion-item-sliding size="6" colum-auto *ngFor="let n of notas">
      <ion-item>
        <ion-label color="{{n.color}}">
          <ion-button fill="clear" shape="round" class="btn" size="large" (click)="opciones(n.id,n.titulo,n.contenido,n.color)">
            <ion-icon name="more"></ion-icon>
          </ion-button>
          <h2>{{n.titulo}}</h2>
          <p>{{n.contenido}} </p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteNotaP(n.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="updateNotaP(n.id, n.titulo, n.contenido)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      
    </ion-item-sliding>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/notas">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer *ngIf="op == true">
  <ion-toolbar>
    <ion-segment>
      <ion-segment-button value="cloud-upload" (click)="subirNotaNube()">
        <ion-icon name="cloud-upload"></ion-icon>
        <ion-label>Subir</ion-label>
      </ion-segment-button>

      <ion-segment-button value="shirt" (click)="colorNota()">
        <ion-icon name="shirt"></ion-icon>
        <ion-label>Colores</ion-label>
      </ion-segment-button>

      <ion-segment-button value="megaphone" (click)="testTTS()">
        <ion-icon name="megaphone"></ion-icon>
        <ion-label>Escuchar</ion-label>
      </ion-segment-button>

      <ion-segment-button value="close" (click)="cancelar()">
        <ion-icon name="close"></ion-icon>
        <ion-label>Cancelar</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>

<ion-footer *ngIf="op2 == true">
  <ion-toolbar>
    <ion-segment>
      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <ion-fab-button color="primary" size="large" (click)="cambiarColorNota(notacid, color1)"></ion-fab-button>
          </ion-col>
          <ion-col>
            <ion-fab-button color="secondary" size="large" (click)="cambiarColorNota(notacid, color2)"></ion-fab-button>
          </ion-col>
          <ion-col>
            <ion-fab-button color="tertiary" size="large" (click)="cambiarColorNota(notacid, color3)"></ion-fab-button>
          </ion-col>
          <ion-col>
            <ion-fab-button color="success" size="large" (click)="cambiarColorNota(notacid, color4)"></ion-fab-button>
          </ion-col>
          <ion-col>
            <ion-fab-button color="dark" size="large" (click)="cambiarColorNota(notacid, color5)"></ion-fab-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-segment>
  </ion-toolbar>
</ion-footer>